<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caspartool {{SPX.title}} | {{lang 'pagetitle.home'}}</title>
  <link rel="stylesheet" type="text/css" href="/css/spx_layout.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_forms.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_colors.css">
  <script src="/js/spx_caspartool.js"></script>

  <script>

    function github() {
      window.open('https://github.com/TuomoKu/SPX_Caspartool', '_github');
    }

    function help() {
      window.open('https://docs.google.com/document/d/1kQJciEivFcUvuagmf3OwL5rBU3XjMIsA8uo_0908K-I/edit?usp=sharing', '_doc');
    }


    function start() {
      document.location = '/contentlists';
    }


  </script>

</head>

<body class="bg_black">
  <div class="spxMainPanel bg_grey60">
    <div class="spxTopRow">
      <BR><BR>
    </div>
    <div class="spxMainSection">
      <table style="width:55%; height:85%; margin:auto;">
        <tr>
          <td style="height: 2em; padding:0.7em; color:white;" class="darkBg">
            <span class="spxTableHead">SPX Caspartool</span><BR>
            <span class="spxTableHeadsmall">Version {{{ShowVersion}}}</span>
          </td>
        </tr>
        <tr>
          <td align="left">
            <div style="padding:1em; width:100%; height:100%; overflow:auto; color:white; font-size:0.8em;"
              class="bg_grey40">
              <BR>
              Please report any found <A style="text-decoration: underline;" href="https://github.com/TuomoKu/SPX_Caspartool/issues">issues here</A>.<BR><BR>
              <BR>
            </div>
          </td>
        </tr>
        <tr>
          <td class=" spxFlexContainer">
            <button class="spxformtext btn spxFlexItem bg_orange ripple"
              onclick="start()">{{lang 'button.launch'}}</button>
            <button class="spxformtext btn spxFlexItem bg_blue ripple" onclick="help()">{{lang 'button.docs'}}</button>
            <button class="spxformtext btn spxFlexItem bg_blue ripple" onclick="github()">Github</button>
          </td>
        </tr>
      </table>
      <span style="color:rgba(255,255,255,0.5); font-size:0.5em; line-height:0.2em;">&copy; 2020 <a
          href="http://www.smartpx.fi">SmartPX</A>
      </span>

    </div>
  </div>
</body>
</html>